/* Colors
Dark blue #074684
Green blue #0ea5c6
Cyan blue #a0edf7
Yellowish #f2efb6
*/

#title {
  background-color: #005792;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}
